__pycache__/
.DS_Store
.env
VDF_dataset*/
vdf_2*/
notebooks/results*.csv
vector-io.code-workspace
notebooks/data/*
data/*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.cfg
*.egg
MANIFEST
*.csv
output.txt
src/vdf_io/notebooks/data/
**.parquet
src/vdf_io/notebooks/parquet_inspect.ipynb
src/vdf_io/notebooks/~/*
src/vdf_io/notebooks/archive/
src/vdf_io/notebooks/chroma/*
'/Users/dhruvanand/Code/vector-io/src/vdf_io/notebooks/chroma'/chroma.sqlite3
*.pem
src/vdf_io/notebooks/**.jpg

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing folders
testing/
tests/
test_results/
test_reports/